<!--removeIf(production)-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= appName %></title>

    {% include "shell/style-links.html" ignore missing %}
     <link rel="stylesheet" href="css/phillystyles.css">

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <!--endbuild-->


</head>

<body>

    {% include "shell/navigation.html" ignore missing %}
    <!--endRemoveIf(production)-->

    {% include "partials/stylesheets.html" %}
    {% include "main-body.html" ignore missing %}
    {% include "partials/recirc-box.html" %}
    {% include "partials/script-links.html" %}

    <!--removeIf(production)-->

    <!--build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->

</body>

</html>
<!--endRemoveIf(production)-->
