<div class="headerIntro">
    <div class="backgroundImage">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>

    <h1 class="overlayText">Headline goes here</h1>

</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        This is a photo caption.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>
        </div>
        <div class="dateline">Pub date, Xxx. ##, 2016</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>
                <span class="dropCap">C</span>arson Wentz's odyssey from No. 2 draft pick to third-string quarterback to suddenly starter was marked by his moments of ingenuity, perhaps none as clever as discovering the ideal spot to nap.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>
        </div>
    </div>
</div>
