$tablet: "only screen and (max-width : 800px)";
$mobile: "only screen and (max-width : 480px)";

$philly-sans: "Gotham Narrow", "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Arial", sans-serif;
$philly-serif: "Sentinel", "Sentinel SSm A","Sentinel SSm B",Times,"Times New Roman",serif;

$philly-red: #c00;
$philly-blue: #0061A2;
