<link rel="stylesheet" type="text/css" href="http://www.philly.com/includes/eb04c1aa9929d111443bd62542490188/style-hc.css"/>
<link rel="stylesheet" type="text/css" href="http://www.philly.com/includes/6585726878bdd3eba673051c78554837/long-form-styles.css"/>
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7722894/765348/css/fonts.css" /><link rel='stylesheet' type='text/css' href='http://www.philly.com/templates/pageLayoutCSS?id=63767137' />
<link rel="icon" type="image/png" href="http://media.philly.com/designimages/favicon-32x32.png">
<link rel="apple-touch-icon" href="http://media.philly.com/designimages/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://media.philly.com/designimages/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://media.philly.com/designimages/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://media.philly.com/designimages/touch-icon-ipad-retina.png">

<link rel="stylesheet" type="text/css" href="css/phillystyles.css"/>
